@model IEnumerable<RecycleWeb.RecyclableItem>

@{
    ViewBag.Title = "List";
}

<h2 class="text-center">List</h2>

<div>
    @Html.ActionLink("Create New", "Add", null, new { @class = "btn btn-primary" })
</div>
<br />
<table class="table table-bordered">
    <thead>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputedRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecyclableType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecyclableType.Type)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputedRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecyclableType.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

